header {
	background-color: yellowgreen;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.header-left {
	display: flex;
	align-items: center;
}

.header-left h2 {
	font-size: 60px;
}

main {
	background: url("../img/sea3.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
}

h3 {
	font-size: 50px;
	text-align: center;

}

p {
	font-size: 25px;
	text-align: center;
}

.now {
	height: 75vh;
	flex-direction: column;
	display: flex;
	padding-top: 120px;
}

.goal {
	height: 75vh;
	margin-top: 50px;
	position: relative;
	color: white;
}

.goal h3 {
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -125px;
}

.goal-sentence {
	background: url("../img/sutaba.jpg");
	background: cover;
	/*background-position: center center;*/
	padding-top: 30px;
	padding-bottom: 30px;
}

.past {
	position: relative;
	height: 75vh;
	margin-top: 250px;
	color: yellowgreen;
}

.past h3 {
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -225px;
}

.past-sentence {
	background:  url("../img/umi.jpg");
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 30px;
}

.want {
	position: relative;
	height: 75vh;
	margin-top: 30px;
}

.want h3 {
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -200px;
}

.want-sentence {
	background-color: green;
	padding-top: 30px;
	padding-bottom: 30px;
}

.hope {
	position: relative;
	height: 90vh;
	margin-top: 50px;
} 

.hope h3 {
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -200px;
}

.hope-sentence {
	background-color: yellow;
	padding-top: 30px;
	padding-bottom: 30px;
}

@media(max-width: 670px) {

	.header-left h2 {
    	font-size: 30px;
	}

    h3 {
    	font-size: 40px;
	}

	p {
      	font-size: 18px;
      	text-align: left;
	}

	.now {
     	height: 90vh;
	}

	.goal {
    height: 110vh;
    margin-top: 50px;
    position: relative;
}

	.goal h3 {
    	position: absolute;
   	 	top: -40px;
  		left: 50%;
    	margin-left: -100px;
	}

	.past {
			margin-top: 50px;
	}

	.past h3 {
    	position: absolute;
    	left: 70%;
    	margin-left: -195px;
    	font-size: 30px;
    	margin-top: 15px;
	}

	.want h3 {
   		top: -23px;
    	margin-left: -124px;
    	font-size: 32px;
	}

	.want {
    	position: relative;
    	height: 100vh;
    	margin-top: 50px;
	}

	.hope h3 {
	    top: -25px;
	    margin-left: -128px;
	    font-size: 32px;
	}

	.hope {
			margin-top: 20px;
			margin-bottom: 50px;
	    height: auto;
	}

	main {
	    padding-bottom: 30px;
	}
}

 .hide {
	display: none;
  }





