header {
	background-color: yellowgreen;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header-left {
	display: flex;
	align-items: center;
}

.header-left h2 {
	font-size: 60px;
}